#header {
    width: 100%;
    height: 72px;
    background: linear-gradient(to right, #CF3E28, #E0492E);
    padding: 0;
}

#header > div {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

#header .header-btn {
    font-family: PingFangSC-Regular, PingFang SC;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #f6cbc4;
    cursor: pointer;
}

#header .header-btn a{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
}

.content{
    background: url("../images/b_background.png") no-repeat;
    height: 856px;
    position: relative;
    top: -1px;
}

.content > div{
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.content .left {
    padding-top: 202px;
    margin-right: 100px;
    box-sizing: border-box;
}

.content .left h3{
    font-size: 70px;
    color: #FFF;
    font-family: PingFangSC-Regular, PingFang SC;
}

.content .left .mtb{
    width: 474px;
    font-size: 20px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 27px;
    -webkit-background-clip: text;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content .left .image .tap {
    margin-right: 20px;
}

.footer {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #233D63;
    text-align: center;
    margin-top: 30px;
}

.footer .ft{
    display: flex;
    justify-content: center;
}

.footer .ft p {
    margin-right: 5px;
}

.footer p:last-child  a:link {
    color: #233D63;
}

.footer p:last-child a .ga {
    position: relative;
    top: 3px;
    right: 3px;
}
